@using RealEstateApp.Core.Application.ViewModels.Property
@using RealEstateApp.Core.Application.ViewModels.User
@model PropertyViewModel
@{
    ViewData["Title"] = "Home";
   
}

<h1>Home del Cliente</h1>

