@using RealEstateApp.Core.Application.ViewModels.Property
@using RealEstateApp.Core.Application.ViewModels.User
@model PropertyViewModel
@{
    ViewData["Title"] = "Propiedades Favoritas";
   
}

<h1>Propiedades</h1>

